body {
    background-color: #262424;
}

.container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.title {
    font-family: 'Texturina', serif;
    color: #DAA22B;
    text-shadow: 0.5px 0.5px #FFFFFF;
    -webkit-text-stroke: 0.5px black;
    z-index: 1;
}

.logo {
    margin-left: 2vh;
    width: 70vw;
}

.nav {
    margin-top: 5vh;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.logout {
    margin-top: 15px;
    margin-left: 1vh;
    height: 5vh;
    width: 5vh;
    background-color: transparent;
    color: aqua;
    font-size: 3vh;
    border-radius: 50%;
    border: 2px solid aqua;    text-align: center;
    z-index: 3;

}

.icon {
    margin-top: 5px;
}

.t2 {
    margin-bottom: 20px;
}

.endgame_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    position: fixed
  }

  .endgame_hide {
    display: none;
  }

  
  .endgame_text {
    margin-top: 40vh;
    font-size: 5vh;
    color: white;
    font-family: 'Texturina', serif;
    text-shadow: #262424;
  }

  .winner {
    color: #FFD700
  }

  .defeat {
    color: #691f1f;
  }