.container {
    display: flex;
    justify-content: center;

}

.button {
    height: 10vh;
    width: 10vh;
    font-size: 5vh;
    background-color: transparent;
    border-radius: 50%;
    border : 2px solid #FFFFFF;
    margin-right: 5px;
    color: #ededed;
    text-align: center;
}

.button_disabled {
    border-color: #3a3a3a;
    color: #3a3a3a;
}

.icon {
    margin-top: 2vh;
}
